* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.txt {
    margin: 20px 20px;
    color: #090e46;
}

.title {
    text-align: center;
    font-size: 85px;
    display: block;
    color: #090e46;
}

.title-white {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px 0 90px;
}

.header-logo img {
    width: 200px;
    height: 25px;
}

.nav ul {
    list-style-type: none;
    float: right;
}

.nav-item {
    display: inline;
    padding-right: 60px;
}

.nav-item a {
    text-decoration: none;
    color: #ffbf46;
    font-size: 23px;
}

.main-top {
    margin: 50px 80px 0 80px;
    text-align: left;
}

.main-top-logo {
    width: 1000px;
    height: 108px;
    margin: 60px 0 60px -60px;
}

.main-top-title {
    font-size: 40px;
}

.main-top-subtitle {
    margin-bottom: 110px;
    font-size: 48px;
}

.block-name {
    background-color: #090e46;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-block-title {
    font-size: 50px;
}

.intro-block-photo img {
    width: 45%;
    height: auto;
}

.txt-wrapper {
    display: flex;
    justify-content: center;
}

.block-txt {
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 40px auto 40px;
    width: 60%;
}

.photo,
.intro-block-photo {
    display: flex;
    justify-content: space-around;
    margin: 40px 40px;
}

.photo img {
    max-width: 80%;
    height: auto;
}

.photo-subtitle {
    font-size: 50px;
    text-align: center;
}

.photo-nav {
    height: 40px;
    width: 80%;
    margin: 10px auto 60px;
    background-color: #090e46;
}

.club {
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
}

.club-logo {
    width: 30%;
    height: 30%;
    text-align: center;
}

.club-logo img {
    width: 60%;
    height: 60%;
}

.club-info {
    width: 40%;
}

.club-title {
    text-align: center;
}

.table {
    border-spacing: 10px 0;
    font-size: 20px;
    margin-top: 30px;
    color: #090e46;
}

.timetable,
.timetable table {
    text-align: center;
    margin: 20px auto 20px;
}

.timetable-info {
    font-size: 25px;
}

.graphic-txt {
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 40%;
    height: 20px;
    margin: 10px auto;
    padding: 3% 0 3% 4%;
    font-size: 20px;
}

.button {
    display: flex;
    padding: 20px 30px 20px 30px;
    background-color: #090e46;
    color: white;
    margin: 10px auto;
    font-size: 20px;
}

.soc-links {
    display: flex;
    padding: 0 auto;
    justify-content: center;
    margin: 30px 30px;
}

.soc-link {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    align-items: center;
}

.soc-link a {
    text-align: center;
}

.soc-link img {
    width: 40%;
    height: auto;
}

.soc-link-title {
    font-size: 35px;
}

.comments {
    margin: 50px 20px 10px 50px;
    width: 40%;
}

.comment {
    text-align: left;
}

.comment img {
    width: 100px;
    height: auto;
}

.user-title {
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
}

.user-txt {
    margin: 10px 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #090e46;
    color: white;
}

footer ul {
    list-style-type: none;
}

.footer-title {
    font-size: 30px;
    color: white;
    margin: 10px 10px;
}

.footer-navbar {
    text-align: center;
    font-size: 28px;
}

@media screen and (max-width: 1050px) {
    .main-top-logo {
        display: none;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
    }
    .nav ul li {
        padding-right: 0;
        text-align: right;
    }
    .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 780px) {
    .intro-block-title {
        font-size: 20px;
    }
    .club,
    .soc-links,
    footer {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .soc-link,
    .footer-title {
        margin-top: 40px;
    }
    footer ul {
        width: 300px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .main-top-title,
    .main-top-subtitle,
    .club-title,
    .block-txt,
    .photo-subtitle,
    .contact-info-title {
        font-size: 20px;
        text-align: center;
        margin: 10px auto 15px;
    }
    .table,
    .nav-item a,
    .user-txt,
    .form input,
    .timetable p {
        font-size: 10px;
    }
    .title {
        font-size: 11px;
    }
    header {
        margin: 20px 0 0 0;
        justify-content: center;
    }
    .button {
        font-size: 10px;
        padding: 3px 45px;
    }
    .photo-nav {
        height: 30px;
    }
    .block-name {
        height: 50px;
    }
    .soc-link:first-child {
        margin-top: 7px;
    }
    footer li {
        font-size: 8px;
    }
    .intro-block-photo {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .intro-block-photo img {
        margin-bottom: 10px;
    }
    .club-info,
    .comments {
        width: 60%;
    }
}